---
import Docs from '../../../layouts/Docs.astro';

export async function getStaticPaths() {
	const pages = (await Astro.glob('../../../../../plugins/*/docs/**/*.{md,mdx}')).map((page) => {
		const [pluginPath, pagePath] = page.file.split('/docs/');

		const parts = pluginPath.split('/');
		const slug = `${parts[parts.length - 1]}/${pagePath}`.replace(/(?:\/index)\.mdx?$/, '').replace(/\.mdx?$/, '');

		return { params: { slug }, props: { page } };
	});

	return pages;
}

const {
	frontmatter: { title, description },
	Content,
} = Astro.props.page;
---

<Docs title={title} description={description}>
	<h1>{title}</h1>
	<p>{description}</p>
	<Content />
</Docs>
