---
import { getCollection } from 'astro:content';
import Docs from '../../../../layouts/Docs.astro';
import TableOfContents from '../../../../components/TableOfContents.astro';

export async function getStaticPaths() {
	const pages = (await getCollection('plugins')).map((entry) => {
		return { params: { plugin: entry.slug }, props: { entry } };
	});

	return pages;
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Docs title={entry.data.title} description={entry.data.description}>
	<h1>{entry.data.title}</h1>
	<p>{entry.data.description}</p>

	<div>
		<a href="./changelog/">Changelog</a>
		<a href={`https://github.com/paularmstrong/onerepo/tree/main/plugins/${entry.data.tool}`}>Source</a>
	</div>

	<Content />

	<TableOfContents slot="toc" headings={headings} />
</Docs>
