---
export interface Props {
	description?: string;
	image?: string | undefined;
	title?: string;
}

const TITLE = 'oneRepo';

const { title, description = 'oneRepo', image = '/img/og_image_small.jpg' } = Astro.props;
---

{/* Global Metadata */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<meta name="theme-color" content="#c1ddf9" media="(prefers-color-scheme: light)" />
<meta name="theme-color" content="#0f172a" media="(prefers-color-scheme: dark)" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
<link rel="manifest" href="/manifest.json" />

{/* Primary Meta Tags */}
<title>{title ? `${title} • ${TITLE}` : TITLE}</title>
<meta name="title" content={title ? `${title} • ${TITLE}` : TITLE} />
<meta name="description" content={description} />

{/* Feeds */}
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />
<link rel="author" href="/humans.txt" />

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

{/* Twitter */}
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
