---
import { getCollection } from 'astro:content';
import SidebarLink from './SidebarLink.astro';

const core = await getCollection('core', ({ id }) => !id.includes('/'));
const docs = await getCollection('docs');
const plugins = await getCollection('plugins');
---

<nav>
	<ul class="flex flex-col gap-2">
		<li><SidebarLink href="/docs/">Documentation</SidebarLink></li>
		<li><SidebarLink href="/docs/getting-started/">Getting started</SidebarLink></li>
		{
			docs.map((doc) => {
				return (
					<li>
						<SidebarLink href={`/docs/${doc.slug}/`}>{doc.data.title}</SidebarLink>
					</li>
				);
			})
		}
		<li>
			<SidebarLink href="/docs/core/">Core</SidebarLink>
			<ul class="ml-2 flex flex-col gap-1 pt-1">
				<li><SidebarLink href="/docs/core/api/">API</SidebarLink></li>
				{
					core.map((core) => {
						return (
							<li>
								<SidebarLink href={`/docs/core/${core.slug}/`}>{core.data.title}</SidebarLink>
							</li>
						);
					})
				}
			</ul>
		</li>
		<li>
			<SidebarLink href="/docs/plugins/">Plugins</SidebarLink>
			<ul class="ml-2 flex flex-col gap-1 pt-1">
				{
					plugins.map((plugin) => {
						return (
							<li>
								<SidebarLink href={`/docs/plugins/${plugin.slug}/`} title={`Plugin: ${plugin.data.title}`}>
									{plugin.data.tool ?? plugin.data.title}
								</SidebarLink>
							</li>
						);
					})
				}
			</ul>
		</li>
		<li><SidebarLink href="/docs/core/changelog/">Changelog</SidebarLink></li>
		<li><SidebarLink href="/docs/telemetry/">Telemetry</SidebarLink></li>
		<li><SidebarLink href="/docs/glossary/">Glossary</SidebarLink></li>
		<li>
			<SidebarLink href="/docs/contributing/">Contributing</SidebarLink>
			<ul class="ml-2 flex flex-col gap-1 pt-1">
				<li><SidebarLink href="/docs/contributing/code-of-conduct/">Code of conduct</SidebarLink></li>
				<li><SidebarLink href="/docs/contributing/cli/">CLI</SidebarLink></li>
			</ul>
		</li>
	</ul>
</nav>
